@media screen and (max-width:720px){
    .service-design{
        width:40%;
        float:initial;
        flex: none;
        margin: 15px;
        margin-bottom: 15px;
    }
    .service-wrapper{
        flex-wrap: wrap;
    }
}
@media screen and (max-width:414px){
    .service-design h2{
        font-size: 20px;
    }
    .service-design p{
        font-size: 14px;
    }
    .feature-section{
        background-color:#F7F7F7 ;
        padding-top: 60px ;
        padding-bottom: 60px;
      }
    .service-wrapper{
        flex-wrap: wrap;
    }
    .service-design{
        width:80%;
        float:initial;
        flex: none;
        margin: 5px;
        margin-bottom: 15px;
    }
 
}